:root {
  --green-bg: #348d37;
  --white-text: #fff;
  --green-text: #348d37;
  --black-text: #000;
  --black-mix-text: #656565;
  --black-bg: #000;
  --white-bg: #fff;
}

body {
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
}

/* header-top-start */
.header-top-bg {
  background: var(--green-bg);
  color: var(--white-text);
  padding: 14px 0;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top a {
  color: var(--white-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-top-detail img {
  margin-right: 10px;
  display: block;
  width: 15px;
}

.home {
  margin-right: 30px;
}

.call {
  margin-right: 20px;
}

.email {
  margin-left: 15px;
}

.header-top-detail {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-icon img {
  width: 18px;
  margin-right: 20px;
}

/* header-top-end */
/* header-start */
.header-bg {
  background-image: url(../image/header.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
}

.header-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
}

.header-bg img {
  width: 100%;
}

.logo img {
  padding: 25px 0;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li {
  margin: 0 20px;
  font-size: 16px;
}

.menu li img {
  width: 25px;
}

.menu li a {
  color: var(--black-text);
}

.menu li:nth-child(n+1):hover a {
  color: var(--green-text);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* header-end */
.slider {
  background-image: url(../image/slider.jpg);
  background-repeat: no-repeat;
  padding: 75px 0;
  color: var(--white-text);
  background-size: cover;
}
.slider .slider-detail {
  width: 50%;
}
.slider h1 {
  line-height: 70px;
  font-size: 60px;
  color: var(--white-text);
}
.slider p {
  font-size: 18px;
  color: var(--white-text);
  font-weight: 600;
  width: 75%;
  line-height: 28px;
  padding: 40px 0 50px;
}
.slider .slider-button {
  background-color: var(--green-bg);
  padding: 18px 40px;
  margin-right: 20px;
  font-weight: 600;
  border-radius: 0px;
  color: var(--white-text);
}
.slider .slider-button:hover {
  background-color: var(--black-bg);
  color: var(--white-bg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.slider button,
.slider .buttontwo::after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.slider .buttontwo {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
}
.slider .buttontwo::before,
.slider .buttontwo::after {
  background: #fff;
  content: "";
  position: absolute;
  z-index: -1;
}
.slider .buttontwo:hover {
  color: #2ecc71;
}
.slider .btn-2::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}
.slider .btn-2:hover:after {
  width: 100%;
}

.agriculture {
  background-image: url(../image/header.png);
  background-repeat: no-repeat;
  padding: 100px 0;
  color: var(--white-text);
  background-size: cover;
}
.agriculture ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 50px 0 40px;
}
.agriculture li {
  width: 33.33%;
  background-color: var(--white-bg);
  padding: 50px 0px 50px 0;
  margin-left: 10px;
}
.agriculture li .agticulture1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}
.agriculture h2 {
  font-size: 20px;
  color: var(--black-text);
  margin-left: 25px;
  width: 10%;
}
.agriculture p {
  margin: 10px 25px 0 25px;
  font-size: 16px;
  color: var(--black-mix-text);
}
.agriculture h4 {
  margin: 10px 25px 0 25px;
  font-size: 16px;
  color: var(--green-text);
}