:root{
    --green-bg: #348d37;
    --white-text: #fff;
    --green-text: #348d37;
    --black-text: #000;
    --black-mix-text: #656565;
    --black-bg: #000;
    --black-mix-bg: #fcfcfc;
    --black-mix1-bg: #eaf3eb;
    --white-bg: #fff;
    --white-mix-bg: #f7fbf7;
}